<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxlgKXaIzfhFteik2r4i6C-pNELZK6o70</string>
	<key>GCM_SENDER_ID</key>
	<string>593013696372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masterung.ungconnectedapi</string>
	<key>PROJECT_ID</key>
	<string>thonglor-ae054</string>
	<key>STORAGE_BUCKET</key>
	<string>thonglor-ae054.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593013696372:ios:a0a9512f16fa826e526e21</string>
</dict>
</plist>